@font-face {
    font-family: 'ethnocentricregular';
    src: url('assets/fonts/ethnocentric/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('assets/fonts/ethnocentric/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'has';
    src: url('assets/fonts/hearts_and_stars/hearts_and_stars-webfont.woff2') format('woff2'),
         url('assets/fonts/hearts_and_stars/hearts_and_stars-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
    font-family: ethnocentricregular;
    font-size: 16px;
    user-select: none;
    cursor: default;
}

.wrapper {
    position: absolute;
    left: 25%;
}

.wrapper, #game-canvas, #menu {
    width: 900px;
    height: 960px;
}

#game-canvas {
    position: absolute;
    border: 1px solid #149414;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

li {
    padding: 10px 0;

}

a {
    text-decoration: none;
    color: inherit;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
}

.button {
    display: block;
    width: 410px;
    margin: 0 auto;
    height: 121px;
    background-image: url('assets/images/ui/Start_BTN.png');
}

.button:hover {
    /* background-color: #B30D5D;
    background-image: linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%); */
    background-image: url('assets/images/ui/Start_BTN_Active.png');
}


#score_div
{
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 43.5%;
    left: 0;
    bottom: 0;
    right: 0;
}

#score_div h1 {
    color: white;
    text-shadow: -1px -1px 0 #000;
    display: inline;
}

#main {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 56%;
    left: 0;
    bottom: 0;
    right: 0;
}

#menu {
    position: absolute;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    background-color: grey;
}

#menu.main {
    background-image: url('assets/images/ui/menu-bg.jpg');
}